#homes-section {
    padding: 30px 0 90px;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        width: 1112px;
        height: 420px;
        left: 10%;
        top: 5%;
        background: url(../../../public/img/homes-text.png) center no-repeat;
        z-index: -1;
    }
}

.homes__uptitle {
    margin-bottom: 16px;
}

.homes__title {
    margin-bottom: 70px;
}

.homes-slide__title,
.homes-slide__author {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide__title {
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.slide__place,
.slide__name {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    text-transform: capitalize;
}

.slide-author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slide__btn {
    color: #00FFA3;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    text-transform: capitalize;
    border: 1px solid #00FFA3;
    padding: 16px 24px;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: #00FFA3;
        color: #000;
    }
}

.swiper-wrapper {
    display: inline-flex;
}

.swiper {
    overflow: hidden;
}

.homes__slider {
    position: relative;
}

.slider__buttons {
    position: absolute;
    top: 40%;
    transform: translateY(-50%) scale(3);
    display: flex;
    justify-content: space-between;
    width: auto;
}

.swiper-button-prev {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.swiper-button-next {
    position: absolute;
    left: 420px;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .slider__buttons {
        top: clamp(45rem, 42.857rem + 4.46vw, 46.875rem);
        justify-content: center;
        width: auto;
        right: 50%;
        transform: translateX(-50%) scale(3);
    }

    .swiper-button-prev {
        right: 15px;
    }

    .swiper-button-next {
        left: 15px;
    }
}

@media (max-width: 1200px) {
    .slide__title {
        font-size: 42px;
    }

    .slide__place, .slide__name {
        font-size: 16px;
    }

    .slider__buttons {
        top: clamp(34.375rem, 20.089rem + 29.76vw, 46.875rem);
    }
}

@media (max-width: 992px) {
    .homes__uptitle {
        font-size: 20px;
    }

    .homes__title {
        font-size: 45px;
    }

    .slide__title {
        font-size: 30px;
    }

    .slide__place {
        font-size: 14px;
    }

    .slider__buttons {
        top: clamp(31.25rem, 13.393rem + 37.2vw, 46.875rem);
    }
}

@media (max-width: 768px) {
    .homes-slide__thumb {
        img {
            width: 335px;
            height: 310px;
        }
        margin: 0 auto;
    }
    
    .homes-slide {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .homes-slide__title, .homes-slide__author {
        justify-content: center;
        gap: 20px;
    }

    .homes-slide__title {
        flex-direction: column;
        gap: 0;
    }

    .homes-slide__author {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .homes__uptitle {
        font-size: 18px;
    }

    .homes__title {
        margin-bottom: 35px;
        font-size: 35px;
    }
}